In [46]:
import pandas as pd
movies = pd.read_csv('C:\IDA\data/movies.csv', sep = ',')
ratings1 = pd.read_csv('C:\IDA\data/ratings1.csv', sep = ',')
dates = pd.read_csv('C:\IDA\data/dates.csv', sep = ',')
ratings2 = pd.read_csv('C:\IDA\data/ratings2.csv', sep = ',')
dates['date'] = pd.to_datetime(dates['date'])
ratings = pd.concat([ratings1, ratings2], ignore_index=True)
ratings = ratings.drop_duplicates(ignore_index=True)
ratings_dates = pd.concat([ratings, dates], axis=1)
joined = ratings_dates.join(movies.set_index('movieId'), on='movieId', how = 'left')
display(joined.head())

,userId,movieId,rating,date,title,genres
0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller